.header{
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    background-color: #6ac5cc;
}

nav{
    padding: 10px 0px;
}
.navlist{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    z-index: 100;
}
.navlist .nav-link{
    padding: 0px 15px;
    font-size: 18px;
}

.navlist ul{
    position: absolute;
    list-style: none;
    padding: 0;
    display: none;
    padding-top: 20px;
}
.navlist .nav-link:hover{
    color: #fff;
} 
.navlist li:hover ul{
    display: flex;
    flex-direction: column;
}
.navlist ul li{
    color: #000;
    font-size: 18px;
    line-height: 30px;
}
.navlist ul li{
    color: #000;
    font-size: 18px;
    background-color: #6ac5cc;
    padding: 2px 10px;
}
.navlist ul li:hover{
    color: #fff;
}
