
.courses{
    padding: 30px 100px;
}
.search-and-cart{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 50;
}
.search-course{
    height: 50px;
    width: 60%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
}
.search-course i{
    width: 7%;
    height: 100%;
    color: #8f8a8a;
    font-size: 20px;
    padding: 10px 15px;
}
.search-course input{
    width: 85%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
.cart-icon{
    font-size: 22px;
    padding-right: 20px;
    position: relative;
    cursor: pointer;
}
.cart-icon sup{
    font-size: 14px;
    position: absolute;
    top: 0px;
}
.cart-items{
    max-width: 350px;
    min-height: 300px;
    background-color: #6ac5cc;
    position: absolute;
    z-index: 100;
    right: 10%;
    top: 100%;
    padding: 15px 40px;
    display: none;
}

.show{
    display: block;
}

